:root {
  --caret-color: black;
  --caret-color-hidden: white;
  
  --caret-blink-delay: 2s;
  --caret-blink-duration: 1.15s;
  --caret-blink-count: 30;
  --caret-blink-timing: ease-out;

  --box-caret-width: 1px;
  --line-caret-width: 1px;
  --underline-caret-width: 2px;
}

.off {
  border: none; /* turnoff caret */
}

/*----------------- line -----------------*/
#line {
  border-left-color: var(--caret-color);
  animation-name: animate-line;
}
.line {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: var(--line-caret-width) solid var(--caret-color-hidden);
  
  animation-delay: var(--caret-blink-delay);
  animation-duration: var(--caret-blink-duration);
  animation-iteration-count: var(--caret-blink-count);
  animation-timing-function: var(--caret-blink-timing);
}
@keyframes animate-line {
  0%,
  50% {
    border-left-color: var(--caret-color);
  }
  51%,
  100% {
    border-left-color: var(--caret-color-hidden);
  }
}

/*----------------- underline -----------------*/
#underline {
  border-bottom-color: var(--caret-color);
  animation-name: animate-unerline;
}
.underline {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: var(--underline-caret-width) solid var(--caret-color-hidden);

  animation-delay: var(--caret-blink-delay);
  animation-duration: var(--caret-blink-duration);
  animation-iteration-count: var(--caret-blink-count);
  animation-timing-function: var(--caret-blink-timing);
}
@keyframes animate-unerline {
  0%,
  50% {
    border-bottom-color: var(--caret-color);
  }
  51%,
  100% {
    border-bottom-color: var(--caret-color-hidden);
  }
}

/*----------------- block -----------------*/
#block {
  color: #ffffff;
  background-color: #000000;
  animation-name: animate-block;
}
.block {
  border: none;

  animation-delay: var(--caret-blink-delay);
  animation-duration: var(--caret-blink-duration);
  animation-iteration-count: var(--caret-blink-count);
  animation-timing-function: var(--caret-blink-timing);
}
@keyframes animate-block {
  0%,
  50% {
    color: #ffffff;
    background-color: #000000;
  }
  51%,
  100% {
    color: #000000;
    background-color: var(--caret-color-hidden);
  }
}

/*----------------- box -----------------*/
#box {
  outline-style: solid;
  outline-color: var(--caret-color);
  outline-width: var(--box-caret-width);
  outline-offset: -1px;
  animation-name: animate-box;
}
.box {
  border: none;
  animation-delay: var(--caret-blink-delay);
  animation-duration: var(--caret-blink-duration);
  animation-iteration-count: var(--caret-blink-count);
  animation-timing-function: var(--caret-blink-timing);
}
@keyframes animate-box {
  0%,
  50% {
    outline-color: var(--caret-color);
  }
  51%,
  100% {
    outline-color: var(--caret-color-hidden);
  }
}