:root {
  /* caret color */
  --caret-color: var(--molokai-red);
  --caret-color-hidden: var(--gruvbox-bg0_h);
  
  /* block caret color */
  --caret-block-color: var(--molokai-bg0);
  --caret-block-backgroundcolor: var(--molokai-fg0);
  
  /* caret animation (blink duration, count, rhythm, delay) */
  --caret-animation-delay: 2s;
  --caret-animation-duration: 1.17s;
  --caret-animation-iteration-count: 15;
  --caret-animation-timing-function: ease-out;

  --zero: 0px;
  
  /* box caret width */
  --caret-width-box: 1px;
  --caret-offset-box: -1px;

  /* line caret width */
  --caret-width-line: 1px;

  /* underline caret width */
  --caret-width-underline: 2px;
}

/*----------------- off -----------------*/
.off {
  border: none;
  outline: none;
}

/*----------------- line -----------------*/
#line {
  /* border-left-color: var(--caret-color); */
  box-shadow: calc(-1 * var(--caret-width-line)) 0px 0px var(--caret-color);
  animation-name: animate-line;
}
.line {
  /* border-left: var(--caret-width-line) solid var(--caret-color-hidden); */
  border: none;
  
  animation-delay: var(--caret-animation-delay);
  animation-duration: var(--caret-animation-duration);
  animation-iteration-count: var(--caret-animation-iteration-count);
  animation-timing-function: var(--caret-animation-timing-function);
}
@keyframes animate-line {
  0%,
  50% {
    /* border-left-color: var(--caret-color); */
    box-shadow: -1px 0px 0px var(--caret-color);
  }
  51%,
  100% {
    /* border-left-color: var(--caret-color-hidden); */
    box-shadow: -1px 0px 0px var(--caret-color-hidden);
  }
}

/*----------------- underline -----------------*/
#underline {
  /* text-decoration-color: var(--caret-color); */
  border-bottom-color: var(--caret-color);
  animation-name: animate-unerline;
}
.underline {
  /* text-underline-offset: 4px; */
  /* text-decoration-thickness: 2px; */
  /* text-decoration-style: solid; */
  /* text-decoration-line: underline; */
  /* text-decoration-color: var(--caret-color-hidden); */
  
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--caret-width-underline) solid var(--caret-color-hidden);

  animation-delay: var(--caret-animation-delay);
  animation-duration: var(--caret-animation-duration);
  animation-iteration-count: var(--caret-animation-iteration-count);
  animation-timing-function: var(--caret-animation-timing-function);
}
@keyframes animate-unerline {
  0%,
  50% {
    /* text-decoration-color: var(--caret-color); */
    border-bottom-color: var(--caret-color);
  }
  51%,
  100% {
    /* text-decoration-color: var(--caret-color-hidden); */
    border-bottom-color: var(--caret-color-hidden);
  }
}

/*----------------- box -----------------*/
#box {
  /* border: var(--caret-width-box) solid var(--caret-color); */
  outline-style: solid;
  outline-color: var(--caret-color);
  outline-width: var(--caret-width-box);
  outline-offset: var(--caret-offset-box);
  animation-name: animate-box;
}
.box {
  /* border: var(--caret-width-box) solid var(--caret-color-hidden); */
  border: none;

  animation-delay: var(--caret-animation-delay);
  animation-duration: var(--caret-animation-duration);
  animation-iteration-count: var(--caret-animation-iteration-count);
  animation-timing-function: var(--caret-animation-timing-function);
}
@keyframes animate-box {
  0%,
  50% {
    /* border-color: var(--caret-color); */
    outline-color: var(--caret-color);
  }
  51%,
  100% {
    /* border-color: var(--caret-color-hidden); */
    outline-color: var(--caret-color-hidden);
  }
}

/*----------------- block -----------------*/
#block {
  color: var(--caret-block-color);
  background-color: var(--caret-block-backgroundcolor);
  animation-name: animate-block;
}
.block {
  border: none;

  animation-delay: var(--caret-animation-delay);
  animation-duration: var(--caret-animation-duration);
  animation-iteration-count: var(--caret-animation-iteration-count);
  animation-timing-function: var(--caret-animation-timing-function);
}
@keyframes animate-block {
  0%,
  50% {
    color: var(--caret-block-color);
    background-color: var(--caret-block-backgroundcolor);
  }
  51%,
  100% {
    color: var(--textcolor);
    background-color: var(--caret-color-hidden);
  }
}