/* =================================== caret off  =================================== */
.off {
  border: none;
  outline: none;
}

/* =================================== line  =================================== */
/*
box-shadow: offset-x | offset-y | blur-radius | color
	offset-x (width & direction)
		- negative value will put caret before letter
		- positive value will put caret after letter

	offset-y (width & directioin)
		- negative value will put caret above letter
		- positive value will put caret below letter
*/
#line {
  /* border-left-color: var(--caret-color); */
  box-shadow: var(--caret-width-line) 0px 0px var(--caret-color);
  animation-name: animate-line;
}
.line {
  /* border-left: var(--caret-width-line) solid var(--caret-color-hidden); */
  border: none;
  
  animation-delay: var(--caret-animation-delay);
  animation-duration: var(--caret-animation-duration);
  animation-iteration-count: var(--caret-animation-iteration-count);
  animation-timing-function: var(--caret-animation-timing-function);
}
@keyframes animate-line {
  0%,
  50% {
    /* border-left-color: var(--caret-color); */
    box-shadow: -1px 0px 0px var(--caret-color);
  }
  51%,
  100% {
    /* border-left-color: var(--caret-color-hidden); */
    box-shadow: -1px 0px 0px var(--caret-color-hidden);
  }
}

/* ================================= underline  ================================= */
#underline {
  /* text-decoration-color: var(--caret-color); */
  border-bottom-color: var(--caret-color);
  animation-name: animate-unerline;
}
.underline {
  /* text-underline-offset: 4px; */
  /* text-decoration-thickness: 2px; */
  /* text-decoration-style: solid; */
  /* text-decoration-line: underline; */
  /* text-decoration-color: var(--caret-color-hidden); */
  
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--caret-width-underline) solid var(--caret-color-hidden);

  animation-delay: var(--caret-animation-delay);
  animation-duration: var(--caret-animation-duration);
  animation-iteration-count: var(--caret-animation-iteration-count);
  animation-timing-function: var(--caret-animation-timing-function);
}
@keyframes animate-unerline {
  0%,
  50% {
    /* text-decoration-color: var(--caret-color); */
    border-bottom-color: var(--caret-color);
  }
  51%,
  100% {
    /* text-decoration-color: var(--caret-color-hidden); */
    border-bottom-color: var(--caret-color-hidden);
  }
}

/* ==================================== box  ==================================== */
#box {
  /* border: var(--caret-width-box) solid var(--caret-color); */
  outline-style: solid;
  outline-color: var(--caret-color);
  outline-width: var(--caret-width-box);
  outline-offset: var(--caret-offset-box);
  animation-name: animate-box;
}
.box {
  /* border: var(--caret-width-box) solid var(--caret-color-hidden); */
  border: none;

  animation-delay: var(--caret-animation-delay);
  animation-duration: var(--caret-animation-duration);
  animation-iteration-count: var(--caret-animation-iteration-count);
  animation-timing-function: var(--caret-animation-timing-function);
}
@keyframes animate-box {
  0%,
  50% {
    /* border-color: var(--caret-color); */
    outline-color: var(--caret-color);
  }
  51%,
  100% {
    /* border-color: var(--caret-color-hidden); */
    outline-color: var(--caret-color-hidden);
  }
}

/* =================================== block  =================================== */
#block {
  color: var(--caret-block-color);
  background-color: var(--caret-block-backgroundcolor);
  animation-name: animate-block;
}
.block {
  border: none;

  animation-delay: var(--caret-animation-delay);
  animation-duration: var(--caret-animation-duration);
  animation-iteration-count: var(--caret-animation-iteration-count);
  animation-timing-function: var(--caret-animation-timing-function);
}
@keyframes animate-block {
  0%,
  50% {
    color: var(--caret-block-color);
    background-color: var(--caret-block-backgroundcolor);
  }
  51%,
  100% {
    color: var(--textcolor-primary);
    background-color: var(--caret-color-hidden);
  }
}

/* ============================================================================ */

div.caretButtons,
div.paceCaretButtons {
  height: 40px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button.caret-off,
button.caret-underline,
button.caret-line,
button.caret-box,
button.caret-block,
button.paceCaret-off,
button.paceCaret-underline,
button.paceCaret-line,
button.paceCaret-box,
button.paceCaret-block {
  width: 20px;  
  height: var(--setting-button-height);
  background-color: var(--setting-background-color);
  border: 1px solid var(--setting-caret-border-color);
  border-radius: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.caret-off span.shape-off,
button.paceCaret-off span.shape-off {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

span.shape-underline {
  width: var(--setting-caret-width);
  height: var(--setting-caret-height);
  border-bottom: 1px solid var(--setting-caret-color);
}
span.shape-line {
  width: 1px;
  height: var(--setting-caret-height);
  background-color: var(--setting-caret-color);
}
span.shape-box {
  width: var(--setting-caret-width);
  height: var(--setting-caret-height);
  border: 1px solid var(--setting-caret-color);
}
span.shape-block {
  width: var(--setting-caret-width);
  height: var(--setting-caret-height);
  background-color: var(--setting-caret-color);
}