footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 5px;
}
nav {
  width: 150px;
	height: 40px;
  
  border-radius: var(--round);
  background-color: var(--inactive-backgroundcolor);

	border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav i {
  font-size: 1.7rem;
  color: black;
}
nav a {
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
}
nav a:hover i {
  color: red;
}

.developer {
	display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 30px;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--mona-sans);
  color: lightgray;
}