:root {
	--size: 45px; /* 1x */
	--key-boxradius: 4px;
	--key-width: var(--size);
	--key-height: var(--size);

	--span2nd-fontsize: 0.6rem;
	--arrowkey-color: #383838;
	--underscore-marker-color: #828282;
}

keyboard {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	width: 1200px;
	height: 320px;
	padding: 0px 6px;
	font-family: "Roboto Mono", monospace;

	border-radius: var(--key-boxradius);
	border: 1px solid lightgray;

	display: none;
}
keyboard row {
	height: var(--key-height);
	display: flex;
	justify-content: space-between;
}
keyboard row key {
	width: var(--key-width);
	height: var(--key-height);
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: var(--key-boxradius);

	font-size: 0.9rem;

	border: 1px solid lightgray;
}
keyboard row key span {
	flex-basis: 50%;
	width: 100%;
}
keyboard row key span:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
keyboard row key span:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#K {
	margin-bottom: 10px;
}

#E .key16,
#D .key16,
#C .key16,
#B .key16,
#A .key16 {
	border: none;
}

#E .key20,
#D .key20,
#C .key20,
#B .key20,
#A .key20 {
	border: none;
}

#C .key17,
#C .key18,
#C .key19 {
	border: none;
}
#B .key17,
#B .key19 {
	border: none;
}

/* --------------------------------- K --------------------------------- */
#K {
	display: flex;
	justify-content: flex-start;
}
#K .key1 {
	margin-right: 54px;
}
#K .key2,
#K .key3,
#K .key4 {
	margin-right: 4.5px;
}
#K .key5 {
	margin-right: 30px;
}
#K .key6,
#K .key7,
#K .key8 {
	margin-right: 4.5px;
}
#K .key9 {
	margin-right: 30px;
}
#K .key10,
#K .key11,
#K .key12 {
	margin-right: 4.5px;
}
#K .key13 {
	margin-right: 54px;
}
#K .key14,
#K .key15 {
	margin-right: 4.5px;
}
#K .key14,
#K .key15,
#K .key16 {
	font-size: 0.6rem;
}
/* --------------------------------- E --------------------------------- */
row#E .key12 span:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
row#E .key12 span:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
row#E .key14_15 {
	width: calc(var(--size) * 2 + 5px); /* 2x */
}
row#E .key17,
row#E .key18,
row#E .key19,
row#E .key21 {
	font-size: var(--span2nd-fontsize);
}

/* --------------------------------- D --------------------------------- */
row#D .key1 {
	width: 67.5px; /* 1.5x */
}
row#D .key14_15 {
	width: 74px; /* 1.5x */
}
row#D .key17,
row#D .key18,
row#D .key19 {
	font-size: var(--span2nd-fontsize);
}
row#D .key21 span:nth-child(2),
row#D .key23 span:nth-child(2) {
	font-size: var(--span2nd-fontsize);
}

/* --------------------------------- C --------------------------------- */
row#C .key5 span:nth-child(1),
row#C .key8 span:nth-child(1) {
	transform: translateY(10px);
}
row#C .key5 span:nth-child(2),
row#C .key8 span:nth-child(2) {
	color: var(--underscore-marker-color);
}

row#C .key1 {
	width:  78.75px;
}
row#C .key13_14_15 {
	width:  111px;
}
row#C .key22 span:nth-child(2) {
	color: var(--underscore-marker-color);
}

/* --------------------------------- B --------------------------------- */
row#B .key1 {
	width: 101.25px;
}
row#B .key12_13_14_15 {
	width: 139px;
}
row#B .key18 {
	color: var(--arrowkey-color);
	font-size: 1.8rem;
}
row#B .key21 span:nth-child(2),
row#B .key23 span:nth-child(2) {
	font-size: var(--span2nd-fontsize);
}

/* --------------------------------- A --------------------------------- */
row#A .key1,
row#A .key2,
row#A .key3 {
	width: 58px; /* 1.25x */
}
row#A .key4_5_6_7_8_9_10_11 {
	width: 302px; /* 6.25x */
}
row#A .key12,
row#A .key13,
row#A .key14,
row#A .key15 {
	width: 58px; /* 1.25x */
}

row#A .key17,
row#A .key18,
row#A .key19 {
	color: var(--arrowkey-color);
	font-size: 1.8rem;
}
row#A .key21_22 {
	width: 95px;
}
row#A .key21_22 span:nth-child(2) {
	font-size: var(--span2nd-fontsize);
}
row#A .key23 span:nth-child(1) {
	font-size: 1rem;
}
row#A .key23 span:nth-child(2) {
	font-size: var(--span2nd-fontsize);
}
row#A .key24 span {
	transform: translateY(-28px);
	font-size: 0.8rem;
}

/* -------------------------------------------------------------------------- */
#B .key24 {
	border-bottom: none;
}
#A .key24 {
	border-top: none;
}