:root {
  --fontfamily-monospace: monospace;
  --fontfamily-nunito: 'Nunito', sans-serif;
  --fontfamily-robotomono: "Roboto Mono", monospace;
  --fontfamily-monasans: "";
  
  --round: 3px;
  --line-gap: 3px;

  --text-color: #3f3f3f;

  --text-fontsize: 1.3rem;
  --text-fontweight: 400;
  --text-fontfamily: var(--fontfamily-robotomono)
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main testarea {
  max-width: 800px;
  margin-left: 15px;
}
main testarea input {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 1px;
  height: 1px;
  border: none;
  outline: none;
  caret-color: transparent;
  background-color: var(--caret-color-hidden);
}
main testarea sentence {
  user-select: none;

  display: flex; /* these keeps all the words in a single line */
  align-items: flex-start; /* determines how the items as a whole are aligned within the container */
  align-content: flex-start; /* determines the spacing between lines */
  justify-content: flex-start;
  flex-wrap: wrap;

  row-gap: var(--line-gap);
  background-color: var(--caret-color-hidden);
}
main testarea sentence word {
  color: var(--text-color);
  background-color: var(--caret-color-hidden);

  display: flex; /* these fixes the extra spaces between the letters of the words */
  justify-content: flex-start;
}
main testarea sentence letter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--text-fontsize);
  font-weight: var(--text-fontweight);
  font-family: var(--text-fontfamily);
}
#wdot {
  padding: 0px 4px;
  
  color: #c7c7c7;

  transform: scale(1.33, 1.33);
  font-weight: 800;

  font-size: var(--text-fontsize);
  font-family: var(--text-fontfamily);

  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: black; 
}
.error {
  
  /* border bottom will be used instead of text decoration later */
  /* border bottom on all letters of a word will give the word continous 
     underline unlike text-decoration, but the way now line and box caret is
     implemented makes this hack also obselete.. */
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  text-decoration-color: red;
  text-underline-offset: 2px;
}
.extra { 
  color: #ae0000;
}
.fade {
  color: rgb(155, 155, 155);
}
.incorrect {
  color: red;
}
.correct {
  color: green;
}