:root {
  --nunito: 'Nunito', monospace;
  --mona-sans: "Mona Sans", monospace;;
  --roboto-mono: "Roboto Mono", monospace;
  
  --round: 3px;
  --line-gap: 3px;

  --basetext-color: #3f3f3f;

  --basetext-size: 1.2rem;
  --basetext-weight: 450;
  --basetext-family: var(--roboto-mono);
}

/* 
font-stretch
    ultra-condensed	  50%
    extra-condensed	  62.5%
    condensed	        75%
    semi-condensed	  87.5%
    normal	          100%
    semi-expanded	    112.5%
    expanded	        125%
    extra-expanded	  150%
    ultra-expanded	  200%
*/
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'), local('Roboto Mono'), url("../static/webfont/Roboto-Mono.ttf") format('truetype');
  font-style: normal;
  font-weight: 450;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), local("Nunito"), url("../static/webfont/Nunito.ttf") format('truetype');
  font-style: normal;
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Mona Sans";
  src: local("Mona Sans") url("../static/webfont/Mona-Sans.woff2") format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

.roboto {
  font-family: var(--roboto-mono);
}
.nunito {
  font-size: 1.5rem;
  font-family: var(--nunito);
}
.mona {
  font-size: 1.5rem;
  font-family: var(--mona-sans);
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main ttypist {
  max-width: 800px;
  margin-left: 15px;
}
main ttypist input {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 1px;
  height: 1px;
  border: none;
  outline: none;
  caret-color: transparent;
  background-color: var(--caret-color-hidden);
}
main ttypist phrase {
  user-select: none;

  display: flex; /* these keeps all the words in a single line */
  align-items: flex-start; /* determines how the items as a whole are aligned within the container */
  align-content: flex-start; /* determines the spacing between lines */
  justify-content: flex-start;
  flex-wrap: wrap;

  row-gap: var(--line-gap);
  background-color: var(--caret-color-hidden);
}
main ttypist phrase word {
  color: var(--basetext-color);
  background-color: var(--caret-color-hidden);

  display: flex; /* these fixes the extra spaces between the letters of the words */
  justify-content: flex-start;
}
main ttypist phrase letter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--basetext-size);
  font-weight: var(--basetext-weight);
  font-family: var(--basetext-family);

  -webkit-font-smoothing: subpixel-antialiased; /* antialiased */
  -moz-osx-font-smoothing: grayscale;
}
#wdot {
  padding: 0px 4px;
  
  color: #c7c7c7;

  transform: scale(1.33, 1.33);
  font-weight: 800;

  font-size: var(--basetext-size);
  font-family: var(--basetext-family);

  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: black; 
}
.error {
  
  /* border bottom will be used instead of text decoration later */
  /* border bottom on all letters of a word will give the word continous 
     underline unlike text-decoration, but the way now line and box caret is
     implemented makes this hack also obselete.. */
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  text-decoration-color: red;
  text-underline-offset: 2px;
}
.extra { 
  color: #ae0000;
}
.fade {
  color: rgb(155, 155, 155);
}
.incorrect {
  color: red;
}
.correct {
  color: green;
}