@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"), url("../assets/webfonts/robotomono.ttf") format("truetype");
  font-style: normal;
  font-weight: 200 700;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("../assets/webfonts/nunito.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Mona Sans";
  src: local("Mona Sans"), url("../assets/webfonts/monasans.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

:root {
  /* ------------- default white color palette ------------- */
  /* yet to be added.. */
  
  /* ------------- gruvbox color palette ------------- */
  --gruvbox-bg0_h:      #1d2021;
  --gruvbox-bg0:        #282828;
  --gruvbox-bg0_s:      #32302f;
  --gruvbox-bg1:        #3c3836;
  --gruvbox-bg2:        #504945;
  --gruvbox-bg3:        #665c54;
  --gruvbox-bg4:        #7c6f64;
  --gruvbox-fg4:        #a89984;
  --gruvbox-fg3:        #bdae93;
  --gruvbox-fg2:        #d5c4a1;
  --gruvbox-fg1:        #ebdbb2;
  --gruvbox-fg0_s:      #f2e5bc;
  --gruvbox-fg0:        #fbf1c7;
  --gruvbox-fg0_h:      #f9f5d7;
  --gruvbox-gray:       #928374;
  --gruvbox-red:        #fb4934;
  --gruvbox-red-dim:    #cc241d;
  --gruvbox-green:      #b8bb26;
  --gruvbox-green-dim:  #98971a;
  --gruvbox-yellow:     #fabd2f;
  --gruvbox-yellow-dim: #d79921;
  --gruvbox-blue:       #83a598;
  --gruvbox-blue-dim:   #458588;
  --gruvbox-purple:     #d3869b;
  --gruvbox-purple-dim: #b16286;
  --gruvbox-aqua:       #8ec07c;
  --gruvbox-aqua-dim:   #689d6a;
  --gruvbox-orange:     #fe8019;
  --gruvbox-orange-dim: #d65d0e;


  /* ------------- gruvbox color palette ------------- */
  --molokai-bg0:     #272822;
  --molokai-bg1:     #3e3d32;
  --molokai-bg2:     #75715e;
  --molokai-fg0:     #f8f8f2;
  --molokai-fg1:     #cfcfc2;
  --molokai-yellow:  #e6db74;
  --molokai-orange:  #fd971f;
  --molokai-red:     #f92672;
  --molokai-magenta: #fd5ff0;
  --molokai-violet:  #ae81ff;
  --molokai-blue:    #66d9ef;
  --molokai-cyan:    #a1efe4;
  --molokai-green:   #a6e22e;


  /* ------------- cobalt color palette ------------- */
  /* add more, incomplete... */
  --cobalt-blue:            #193549;
  --cobalt-blue-highlight:  #1F4662;
  --cobalt-blue-highlight2: #234E6D;
  --cobalt-dark-blue:       #122738;
  --cobalt-yellow:          #ffc600;
  --cobalt-hot-pink:        #ff0088;
  --cobalt-blush-pink:      #ff628c;
  --cobalt-orange:          #ff9d00;


  /* ------------- solarized color palette ------------- */
  --solarized-base03:    #002b36;
  --solarized-base02:    #073642;
  --solarized-base01:    #586e75;
  --solarized-base00:    #657b83;
  --solarized-base0:     #839496;
  --solarized-base1:     #93a1a1;
  --solarized-base2:     #eee8d5;
  --solarized-base3:     #fdf6e3;
  --solarized-yellow:    #b58900;
  --solarized-orange:    #cb4b16;
  --solarized-red:       #dc322f;
  --solarized-magenta:   #d33682;
  --solarized-violet:    #6c71c4;
  --solarized-blue:      #268bd2;
  --solarized-cyan:      #2aa198;
  --solarized-green:     #859900;
}

:root {
  --monospace: monospace; 
  --roboto-mono: "Roboto Mono", monospace;
  --nunito: "Nunito", monospace;
  --mona-sans: "Mona Sans", monospace;

  --textcolor-primary: var(--gruvbox-fg2);
  --textcolor-secondary: var(--molokai-bg2);

  --textsize: 1.2rem;
  --textweight: 420;
  --textfamily: var(--roboto-mono);

  --error-primary: #ff0000;
  --error-secondary: #a30d0d;

  --word-underline-offset: 2px;
  --word-underline-thickness: 2px;

  --active-foreground: var(--molokai-bg0);
  --active-background: var(--gruvbox-fg0_s);

  --inactive-foreground: var(--molokai-fg1);
  --inactive-background: var(--molokai-bg1);
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* removes blue background hightlighting on mobile browser when clicked on board cells */
  -webkit-tap-highlight-color: transparent;
  
  width: 100%;
  height: 100%;
  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--gruvbox-bg0_h);

  row-gap: 10px;
  padding: 10px;
}

text {  
  max-width: 750px;

  display: flex; /* these keeps all the words in a single line */
  align-items: flex-start; /* determines how the items as a whole are aligned within the container */
  align-content: flex-start; /* determines the spacing between lines */
  justify-content: flex-start;
  flex-wrap: wrap;

  row-gap: 0px;
  user-select: none;
  background-color: var(--caret-color-hidden);
}

text word {
  background-color: var(--caret-color-hidden);

  display: flex; /* these fixes the extra spaces between the letters of the words */
  justify-content: flex-start;
}
text word letter {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--textcolor-primary);

  font-size: var(--textsize);
  font-weight: var(--textweight);
  font-family: var(--textfamily);
  
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input#textinput {
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
  border: none;
  outline: none;
  caret-color: transparent;
  background-color: var(--caret-color-hidden);
}
 
.extra {
  color: var(--error-secondary);
}
.fade {
  color: #9b9b9b;
}
.none {
  display: none;
}
.hidden {
  visibility: hidden;
}
.active {
  color: black;
}
.correct {
  color: var(--textcolor-secondary);
}
.incorrect {
  color: var(--error-primary);
}
.error {
  color: var(--error-primary);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--error-secondary);
  text-underline-offset: var(--word-underline-offset);
  text-decoration-thickness: var(--word-underline-thickness);
}
.____ {
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-decoration-color: var(--textcolor);
  text-underline-offset: var(--word-underline-offset);
  text-decoration-thickness: var(--word-underline-thickness);
}

#chosen {
  color: var(--active-foreground);
  background-color: var(--active-background);
}