footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
nav {
  width: 200px;
  
  border-radius: var(--round);
  background-color: var(--inactive-backgroundcolor);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav i {
  font-size: 1.7rem;
  color: black;
}
nav a {
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
}
nav a:hover i {
  color: red;
}
img#codeforces {
  width: 30px;
  height: 30px;
}
.developer {
  color: #ff0000;
  background-color: #ffe4e4;


  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 30px;
  width: 88px;
  height: 30px;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--mona-sans);

}
output {
	margin-bottom: 10px;
}
speed {
  color: gray;
  font-size: var(--basetext-size);
  font-weight: var(--basetext-weight);
  font-family: monospace;
}

div.tmp {
  width: 120px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
button i {
  transform: translateY(1px);
}
button {
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 4px 6px;
  color: darkgray;
  background-color: white;
  border: 1px solid rgb(238, 238, 238);
}
button:focus {
  outline: none;
  color: black;
  background-color: white;
}