button i {
  transform: translateY(1px);
}
button {
  font-size: 1.25rem;
  border-radius: 3px;
  width: 35px;
  height: 35px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  background-color: whitesmoke;
}
button:focus {
  outline: none;
  color: var(--molokai-red);
  background-color: white;
}
input#fontsize-slider,
input#fontweight-slider {
  border: none;
  outline: none;
}