speed.wpm {
  color: gray;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}
button i {
  transform: translateY(1px);
}
button {
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 4px 6px;
  border: none;
  color: var(--molokai-fg0);
  background-color: var(--molokai-bg1);
}
button:focus {
  outline: none;
  color: var(--molokai-red);
  background-color: white;
}
button.fullscreen {
  top: 15px;
  right: 15px;
  position: absolute;
}
input#slider {
  border: none;
  outline: none;
}