div.util {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 60px;
}

div.testSetting {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	column-gap: 5px;
}

div.row {
	padding: 8px;
	border: 1px dashed #bbbbbb;	
}
div.column {
	margin: 8px;
	padding: 5px;
	border: 1px dashed lightgray;
}
div.description {
	height: 10px;
}

div.config {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.config .button {
	height: 28px;
	margin: 2px;
	padding: 0px 8px;
	font-size: 0.8rem;
	font-family: var(--RobotoMono);
	background-color: var(--setting-button-backgroundcolor);
  border: 1px solid var(--setting-button-border-color);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.paceCaretSpeed {
	display: flex;
	flex-direction: column;
}

div.label {
	display: flex;
	align-items: center;
	height: 30px;
}
div.label > * {
	display: flex;
	align-items: center;
	justify-content: center;
}
div.label div.text {
	font-size: 0.9rem;
	font-family: var(--SourceCodePro);
}
div.label div.symbol {
	margin-right: 6px;
}

.unmarked {
	visibility: hidden;
}
.marked {
	fill: green;
}

div.symbol.iconUseFloats {
	color: var(--setting-icon-color);
	font-size: 0.8rem;
	font-weight: 700;
	font-family: var(--RobotoMono);
}
svg.iconTextFont {
	width: 14px;
	height: 14px;	
}
svg.iconTextInclude,
svg.iconTestEndsWithSpace,
svg.iconPaceCaretSpeedCustom,
svg.iconEditPen {
	width: 15px;
	height: 15px;
}
svg.iconStrictSpace,
svg.iconTextUnderline,
svg.iconStopOnError,
svg.iconTestStatistics {
	width: 18px;
	height: 18px;
}
svg.iconTextScroll {
	width: 19px;
	height: 19px;
}
svg.iconLiveStatus,
svg.iconWarning,
svg.iconPrimaryColor,
svg.iconSecondaryColor,
svg.iconTextCapitalization,
svg.iconFontWeight,
svg.iconTextInclude,
svg.iconWordLength,
svg.icondynamicSettingChange,
svg.iconSetttingFieldView {
	width: 20px;
	height: 20px;
}
svg.iconErrorHandling,
svg.iconErrorExtraLetters,
svg.iconFillColor,
svg.iconDynamicSettingChange {
	width: 21px;
	height: 21px;	
}
svg.iconTextWordLength,
svg.iconNumberCount,
svg.speedometer,
svg.iconCaret,
svg.iconTapeMode,
svg.iconBackspaceKey,
svg.iconDifficulty {
	width: 22px;
	height: 22px;	
}
svg.iconOppositeShiftMode,
svg.iconTestTimer,
svg.iconModifierKeys,
svg.iconTheme,
svg.iconTextWhitespace,
svg.iconTextFontSize {
	width: 23px;
  height: 23px;
}
svg.iconCalculationInterval,
svg.iconCaretOpacity,
svg.iconPaceCaretOpacity {
	width: 24px;
	height: 24px;	
}
svg.iconFlipHighlightModeColor,
svg.iconTextInput {
	width: 25px;
	height: 25px;
}
svg.iconForgiveExtraError {
	width: 29px;
	height: 29px;	
}
svg.iconHighlightMode {
	width: 32px;
	height: 32px;	
}

svg.bomb {
	width: 20px;
	height: 20px;
}

input[type="color"] {
	cursor: pointer;
}
input[type="text"] {	
	cursor: text;
}

details {
	box-sizing: border-box;
	position: relative;
	height: var(--setting-button-height);

	user-select: none;
	
	background-color: var(--setting-button-backgroundcolor);
	border: 1px solid var(--setting-button-border-color);
	border-radius: 4px;
}
details summary::-webkit-details-marker {
	display: none;
}
details summary {
	width: 100%;
	height: 100%;	
	position: absolute;
	list-style: none;
	user-select: none;
}
details summary > div.text {
	position: absolute;
	left: 0px;
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	color: #363636;
	font-size: 0.9rem;
	font-weight: 450;
	border-right: 1px solid var(--setting-button-border-color);
}
details summary > div.symbol {
	position: absolute;
	right: 0px;

	width: calc(var(--setting-button-height) - 1px);
	height: calc(var(--setting-button-height) - 1px);

	display: flex;
	align-items: center;
	justify-content: center;
}
details summary > div.symbol svg {
	height: 100%;
}
details summary > div.symbol svg {
	fill: #363636;
}
details div.list {
	width: 100%;
	position: absolute;
	top: 100%;
	right: 0px;
	margin-top: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	background-color: #fefbfb;
	border: 1px solid var(--setting-button-border-color);
	box-shadow: 0 8px 24px rgba(140,149,159,0.2);
	border-radius: 4px;
	z-index: 999;
}
details div.list div.item {
	width: 100%;
	height: 30px;
	padding: 0px 6px 0px 12px;

	font-size: 0.95rem;
	font-family: var(--RobotoMono);
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--setting-button-border-color);
}
details div.list div.item div.text,
details div.list div.item div.symbol {
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}
details div.list div.item:hover {
	color: blue;
}
details div.list div.item:hover div.symbol {
	visibility: visible;
}
details div.list div.item:hover div.symbol svg.tick {
	fill: #b8b8b8;
}
details div.list div.item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
details div.list div.item:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
}

/* ------- config.text.font.family */
details.textFontFamilyList {
	width: 160px;
}
details.textFontFamilyList summary > div.text {
	width: 132px;
	font-family: var(--RobotoMono);
}
details.textFontFamilyList div.list {
	width: 200px;
}
details.textFontFamilyList div.list div.item.Nunito {
	font-size: 1rem;
	font-family: var(--Nunito);
}
details.textFontFamilyList div.list div.item.MonaSans {
	font-size: 0.9rem;
	font-family: var(--MonaSans);
}
details.textFontFamilyList div.list div.item.RobotoMono {
	font-size: 0.95rem;
	font-family: var(--RobotoMono);
}
details.textFontFamilyList div.list div.item.CourierPrime {
	font-size: 0.98rem;
	font-family: var(--CourierPrime);
}
details.textFontFamilyList div.list div.item.FiraCode {
	font-size: 0.94rem;
	font-family: var(--FiraCode);
}
details.textFontFamilyList div.list div.item.SourceCodePro {
	font-size: 0.95rem;
	font-family: var(--SourceCodePro);
}
details.textFontFamilyList div.list div.item.UbuntuMono {
	font-size: 1.1rem;
	font-family: var(--UbuntuMono);
}
details.textFontFamilyList div.list div.item.SyneMono {
	font-size: 1.12rem;
	font-family: var(--SyneMono);
}

/* ------- config.text.word.type */
details.textWordTypeList {
	width: 140px;
}
details.textWordTypeList summary > div.text {
	width: 112px;

	font-family: var(--RobotoMono);
}
details.textWordTypeList div.list {
	width: 140px;
}

/* ------- config.text.word.length */
details.textWordLengthList {
	width: 130px;
}
details.textWordLengthList summary > div.text {
	width: 102px;
	font-family: var(--RobotoMono);
}
details.textWordLengthList div.list {
	width: 200px;
}
details.textWordLengthList div.list div.item {
	justify-content: space-between;
}
details.textWordLengthList div.list div.item div.text,
details.textWordLengthList div.list div.item div.text.range {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

details.textWordLengthList div.list div.item div.text {
	flex-basis: 50%;
}
details.textWordLengthList div.list div.item div.text.range {
	color: #a0a0a0;
	flex-basis: 30%;
	font-size: 0.8rem;
}

div.config.textCapitalization {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	column-gap: 10px;
	
	font-size: 0.85rem;
	font-family: var(--RobotoMono);
}
div.config.textCapitalization div.radioButton {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
}

/* --------------------------> text capitalization <-------------------------- */
input[type="radio"] + label {
	color: #6e6e6e;
}
input[type="radio"]:checked + label {
	color: black;
  text-decoration-color: gray;
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: all;
}