:root {
  background-color: var(--default-bg0_h);
}

setting {
  width: 800px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

caret off,
caret underline,
caret line,
caret box,
caret block {  
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
  width: var(--setting-caret-shape-container-width);
  height: var(--setting-caret-shape-container-height);
  background-color: var(--inactive-background);
}
caret off {
  height: 80%;
  flex-basis: 49%;
}
line shape {
  width: calc((var(--setting-caret-shape-width) / 10)); /* width: 1px */
  height: var(--setting-caret-shape-height);
  background-color: var(--setting-caret-color);
}
block shape {
  width: var(--setting-caret-shape-width);
  height: var(--setting-caret-shape-height);
  background-color: var(--setting-caret-color);
}
box shape {
  width: var(--setting-caret-shape-width);
  height: var(--setting-caret-shape-height);
  border: 1px solid var(--setting-caret-color);
}
underline shape {
  display: inline-flex;
  width: calc(var(--setting-caret-shape-width) + 1.5px); /* width: 11.5px */
  height: var(--setting-caret-shape-height);
  border-bottom: 1px solid var(--setting-caret-color);
  border-radius: none;
}

config {
  user-select: none;
}