div.setting {
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border: 1px dashed gray;
}

.unmarked {
	visibility: hidden;
}
.marked {
	fill: green;
}

/* ------------------ COMMON | <details></details> ------------------ */
details {
	box-sizing: border-box;
	position: relative;
	height: var(--button-height);

	user-select: none;
	
	background-color: #f6f8fa;
	border: 1px solid #1f232826;
	border-radius: var(--roundness);
}
details summary::-webkit-details-marker {
	display: none;
}
details summary {
	width: 100%;
	height: 100%;	
	position: absolute;
	list-style: none;
	user-select: none;
}
details summary > span.text {
	position: absolute;
	left: 0px;
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	color: #363636;
	font-size: 0.9rem;
	font-weight: 450;
	font-family: var(--MonaSans);
	border-right: 1px solid #1f232826;
}
details summary > span.icon {
	position: absolute;
	right: 0px;

	width: calc(var(--button-height) - 1px);
	height: calc(var(--button-height) - 1px);

	display: flex;
	align-items: center;
	justify-content: center;
}
details summary > span.icon svg.dropdown {
	height: 100%;
}
details summary > span.icon svg.dropdown {
	fill: #363636;
}
details div.menu {
	width: 100%;
	position: absolute;
	top: 100%;
	right: 0px;
	margin-top: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	background-color: rgba(245, 245, 245, 0.5);
	border: 1px solid #1f232826;
	border-radius: var(--roundness);
	z-index: 999;
}
details div.menu div.item {
	width: 100%;
	height: 33px;
	padding: 0px 6px 0px 12px;

	font-size: 0.95rem;
	font-family: var(--MonaSans);
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #1f232826;
}
details div.menu div.item span.text,
details div.menu div.item span.icon {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
details div.menu div.item:hover {
	color: blue;
	background-color: #f6f8fa;
}
details div.menu div.item:hover span.icon {
	visibility: visible;
}
details div.menu div.item:hover span.icon svg.tick {
	fill: #b8b8b8;
}
details div.menu div.item:first-child {
	border-top-left-radius: var(--roundness);
	border-top-right-radius: var(--roundness);
}
details div.menu div.item:last-child {
	border-bottom-left-radius: var(--roundness);
	border-bottom-right-radius: var(--roundness);
	border-bottom: none;
}


/* ------------------ CUSTOM | <details></details> ------------------ */

/* ------- config.text.font.family */
details#text-font-family {
	width: 160px;
}
details#text-font-family summary > span.text {
	width: 130px;
}
details#text-font-family div.menu {
	width: 200px;
}
details#text-font-family div.menu div.item.Nunito {
	font-size: 1rem;
	font-family: var(--Nunito);
}
details#text-font-family div.menu div.item.MonaSans {
	font-size: 0.9rem;
	font-family: var(--MonaSans);
}
details#text-font-family div.menu div.item.RobotoMono {
	font-size: 0.95rem;
	font-family: var(--RobotoMono);
}
details#text-font-family div.menu div.item.CourierPrime {
	font-size: 0.98rem;
	font-family: var(--CourierPrime);
}
details#text-font-family div.menu div.item.FiraCode {
	font-size: 0.94rem;
	font-family: var(--FiraCode);
}
details#text-font-family div.menu div.item.SourceCodePro {
	font-size: 0.95rem;
	font-family: var(--SourceCodePro);
}
details#text-font-family div.menu div.item.UbuntuMono {
	font-size: 1.1rem;
	font-family: var(--UbuntuMono);
}
details#text-font-family div.menu div.item.SyneMono {
	font-size: 1.12rem;
	font-family: var(--SyneMono);
}
details#text-font-family div.menu div.item.VT323 {
	font-size: 1.4rem;
	font-family: var(--VT323);
}
details#text-font-family div.menu div.item.FuzzyBubbles {
	font-size: 1rem;
	font-family: var(--FuzzyBubbles);
}
details#text-font-family div.menu div.item.TsukimiRounded {
	font-size: 0.93rem;
	font-family: var(--TsukimiRounded);
}
details#text-font-family div.menu div.item.RampartOne {
	font-size: 1.1rem;
	font-family: var(--RampartOne);
}
details#text-font-family div.menu div.item.RubikVinyl {
	font-size: 1.1rem;
	font-family: var(--RubikVinyl);
}
details#text-font-family div.menu div.item.GTASanAndreas {
	font-size: 1.25rem;
	font-family: var(--GTASanAndreas);
}

/* ------- config.text.word.type */
details#text-word-type {
	width: 120px;
}
details#text-word-type summary > span.text {
	width: 90px;
}
details#text-word-type div.menu {
	width: 100%;
}

/* ------- config.text.word.length */
details#text-word-length {
	width: 110px;
}
details#text-word-length summary > span.text {
	width: 80px;
}
details#text-word-length div.menu {
	width: 150px;
	padding-right: 4px;
}
details#text-word-length div.menu div.item {
	justify-content: space-between;
}
details#text-word-length div.menu div.item span.text,
details#text-word-length div.menu div.item span.range {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

details#text-word-length div.menu div.item span.text {
	flex-basis: 50%;
}
details#text-word-length div.menu div.item span.range {
	color: #a0a0a0;
	flex-basis: 30%;
	font-size: 0.8rem;
}

div.config#caret {
	border: var(--dotted);
}
div.config#pace-caret {
	border: var(--dotted);
}