wrapper {
  padding: 25px 15px;
  border: 1px dashed gray;
}

input#textinput {
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
  border: none;
  outline: none;
  caret-color: transparent;
  background-color: var(--caret-color-hidden);
}

text {  
  max-width: 700px;

  display: flex; /* these keeps all the words in a single line */
  align-items: flex-start; /* determines how the items as a whole are aligned within the container */
  align-content: flex-start; /* determines the spacing between lines */
  justify-content: flex-start;
  flex-wrap: wrap;

  row-gap: 0px;
  user-select: none;
  background-color: var(--caret-color-hidden);
}

text word {
  background-color: var(--caret-color-hidden);

  display: flex; /* these fixes the extra spaces between the letters of the words */
  justify-content: flex-start;
}
text word letter {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-primary-color);

  /* line-height: 1em; */
  /* white-space: nowrap; */
  
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-thickness);
  
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

letter.whitespace.bullet {
  position: relative;
  margin-left: 1px;
  margin-right: 1px;
}
letter.whitespace.bullet::after {
  transform: translateY(1px);
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  opacity: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-whitespace-color);
}
letter.whitespace.whitespace-color-active::after { /* renaming is required (way too long name) */
  background-color: var(--text-whitespace-color-active);
}