@font-face { /* Nunito */
  font-family: "Nunito";
  src: local("Nunito"), url("./static/webfonts/Nunito.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

@font-face { /* Mona Sans */
  font-family: "Mona Sans";
  src: local("Mona Sans"), url("./static/webfonts/MonaSans.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face { /* Fira Code */
  font-family: "Fira Code";
  src: local("Fira Code"), url("./static/webfonts/FiraCode.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

@font-face { /* Source Code Pro */
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("./static/webfonts/SourceCodePro.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

@font-face { /* Roboto Mono */
  font-family: "Roboto Mono";
  src: local("Roboto Mono"), url("./static/webfonts/RobotoMono.ttf") format("truetype");
  font-style: normal;
  font-weight: 200 700;
  font-stretch: 75% 125%;
}

@font-face { /* Syne Mono */
  font-family: "Syne Mono";
  src: local("Syne Mono"), url("./static/webfonts/SyneMono.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::placeholder {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
	color: #94bee67b;
}

:root {
  --MonaSans: "Mona Sans", monospace;
  --Nunito: "Nunito", monospace;
  --CourierPrime: "Courier Prime", monospace;
  --FiraCode: "Fira Code", monospace;
  --RobotoMono: "Roboto Mono", monospace;
  --SourceCodePro: "Source Code Pro", monospace;
  --UbuntuMono: "Ubuntu Mono", monospace;
  --SyneMono: "Syne Mono", monospace;

  --text-font-size: 18px; /* size: (16px, 32px, 48px) */
  --text-font-weight: 400;
  --text-font-family: var(--RobotoMono);
  --text-primary-color: #001e2e;
  --text-secondary-color: #9a9a9a;
  --text-underline-offset: 1px;
  --text-underline-thickness: 2px;
  --text-error-color: red; /* normal letter error color */
  --text-error-color--extra: #a30d0d; /* extra inserted letter error color */
  --text-whitespace-color: rgb(179, 179, 179); /* dot/bar whitespace color */
  --text-whitespace-color-active: #303030; /* dot/bar whitespace color when active */
  --text-whitespace-bullet-dimension: 4px;

  --caret-color: black;
  --caret-color-hidden: white; /* match invisible underscore caret color with background color of text */
  --pace-caret-color: #6b6b6b;
  --caret-offset-box: -1px; /* box caret offset */
  --caret-width-box: 1px; /* box caret width */
  --caret-width-line: -1px; /* line caret width (1px, 2px, 3px) */
  --caret-width-underline: 2px; /* underline caret width */
  --caret-block-color: whitesmoke; /* text color under block caret */
  --caret-block-backgroundcolor: black; /* block caret of color */
  --caret-animation-delay: 2s; /* time to wait before blinking */
  --caret-animation-duration: 1.17s; /* duration of a single blink */
  --caret-animation-iteration-count: 25; /* number of blinks */
  --caret-animation-timing-function: ease-out; /* blink rhythm */

  --setting-caret-color: black;
  --setting-caret-width: 10px;
  --setting-caret-height: 18px;
  --setting-button-border-color: hsla(212, 14%, 19%, 0.08);
  --setting-button-height: 30px;
  --setting-button-backgroundcolor: rgb(238, 242, 252);
  --setting-button-roundness: 3px;
  --setting-icon-color: rgb(0, 58, 77);
  --setting-buttons-container-width: 240px;
	--setting-checkboxAndText-gap: 3px;

  --active-color: #017501;
  --active-background-color: #b0ffb0;
  --inactive-color: #484848;
  --inactive-background-color: #f3f3f3;
  
  --selected-color: white;
  --selected-background-color: rgb(38, 38, 38);
}

body {
  /* removes blue background hightlighting on mobile when clicking on screen */
  -webkit-tap-highlight-color: transparent;
  
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;

  color: #192028;
  background-color: azure;
}

text {
  max-width: 800px;

  border-radius: 8px;
  padding: 20px 10px 20px 20px;

  display: flex; /* these keeps all the words in a single line */
  align-items: flex-start; /* determines how the items as a whole are aligned within the container */
  align-content: flex-start; /* determines the spacing between lines */
  justify-content: flex-start;
  flex-wrap: wrap;

  background-color: var(--caret-color-hidden);

  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
text word {
  background-color: var(--caret-color-hidden);

  display: flex; /* these fixes the extra spaces between the letters of the words */
  justify-content: flex-start;
}
text word letter {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-primary-color);

  /* line-height: 1em; */
  /* white-space: nowrap; */
  
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);

  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
input[type="text"]#textInputField {
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
  border: none;
  outline: none;
  caret-color: transparent;
  background-color: var(--caret-color-hidden);
}
text word letter.bullet {
  margin: 0px 1px;
}
text word letter.bullet::after {
  content: "";
  position: absolute;
  width: var(--text-whitespace-bullet-dimension);
  height: var(--text-whitespace-bullet-dimension);
  opacity: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(1px);
  background-color: var(--text-primary-color);
  opacity: 0.4;
}
text word letter.bullet.ws-active::after { /* when caret is on bullet whitespace */
  opacity: 0.8;
}
text word letter.bullet.correct::after { /* when caret has gone past bullet whitespace */
  background-color: var(--text-secondary-color);
  opacity: 0.4;
}

#selected {
	color: var(--selected-color);
  border-color: var(--selected-background-color);
	background-color: var(--selected-background-color);
  font-weight: 500;
}

.active {
  color: var(--usage-undefined);
}
.hide {
  visibility: hidden;
}
.remove {
  display: none;
}
.current { /* for text (word & letter) */
  color: black;
}
.correct {
  color: var(--text-secondary-color);
}
.incorrect {
  color: var(--text-error-color);
}
.extra {
  color: var(--text-error-color--extra);
}
.error {
  color: var(--text-error-color);
}
.underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: all;
  text-underline-offset: var(--text-underline-offset);
  text-decoration-thickness: var(--text-underline-thickness);
  text-decoration-color: var(--text-color-primary);
}/*
text-decoration-skip-ink
     all - the browser must interrupt underlines and overlines so that they do not
           touch or closely approach a glyph
    none - drawn across the full length of the text content, including parts that
           cross over glyph descenders and ascenders
*/

/* ---------- color palettes for colorschemes ---------- */
:root {
  --youtube-bg0_h: #181818;
  --youtube-bg0:   #212121;
  --youtube-bg0_s: #3d3d3d;
  --youtube-gray:  #aaaaaa;
  
  --gruvbox-bg0_h:      #1d2021;
  --gruvbox-bg0:        #282828;
  --gruvbox-bg0_s:      #32302f;
  --gruvbox-bg1:        #3c3836;
  --gruvbox-bg2:        #504945;
  --gruvbox-bg3:        #665c54;
  --gruvbox-bg4:        #7c6f64;
  --gruvbox-fg4:        #a89984;
  --gruvbox-fg3:        #bdae93;
  --gruvbox-fg2:        #d5c4a1;
  --gruvbox-fg1:        #ebdbb2;
  --gruvbox-fg0_s:      #f2e5bc;
  --gruvbox-fg0:        #fbf1c7;
  --gruvbox-fg0_h:      #f9f5d7;
  --gruvbox-gray:       #928374;
  --gruvbox-red:        #fb4934;
  --gruvbox-red-dim:    #cc241d;
  --gruvbox-green:      #b8bb26;
  --gruvbox-green-dim:  #98971a;
  --gruvbox-yellow:     #fabd2f;
  --gruvbox-yellow-dim: #d79921;
  --gruvbox-blue:       #83a598;
  --gruvbox-blue-dim:   #458588;
  --gruvbox-purple:     #d3869b;
  --gruvbox-purple-dim: #b16286;
  --gruvbox-aqua:       #8ec07c;
  --gruvbox-aqua-dim:   #689d6a;
  --gruvbox-orange:     #fe8019;
  --gruvbox-orange-dim: #d65d0e;

  --molokai-bg0:     #272822;
  --molokai-bg1:     #3e3d32;
  --molokai-bg2:     #75715e;
  --molokai-fg0:     #f8f8f2;
  --molokai-fg1:     #cfcfc2;
  --molokai-yellow:  #e6db74;
  --molokai-orange:  #fd971f;
  --molokai-red:     #f92672;
  --molokai-magenta: #fd5ff0;
  --molokai-violet:  #ae81ff;
  --molokai-blue:    #66d9ef;
  --molokai-cyan:    #a1efe4;
  --molokai-green:   #a6e22e;

  --cobalt-blue:            #193549;
  --cobalt-blue-highlight:  #1F4662;
  --cobalt-blue-highlight2: #234E6D;
  --cobalt-dark-blue:       #122738;
  --cobalt-yellow:          #ffc600;
  --cobalt-hot-pink:        #ff0088;
  --cobalt-blush-pink:      #ff628c;
  --cobalt-orange:          #ff9d00;

  --solarized-base03:    #002b36;
  --solarized-base02:    #073642;
  --solarized-base01:    #586e75;
  --solarized-base00:    #657b83;
  --solarized-base0:     #839496;
  --solarized-base1:     #93a1a1;
  --solarized-base2:     #eee8d5;
  --solarized-base3:     #fdf6e3;
  --solarized-yellow:    #b58900;
  --solarized-orange:    #cb4b16;
  --solarized-red:       #dc322f;
  --solarized-magenta:   #d33682;
  --solarized-violet:    #6c71c4;
  --solarized-blue:      #268bd2;
  --solarized-cyan:      #2aa198;
  --solarized-green:     #859900;

  --default-bg0_h: #ffffff;
  --default-bg0: #f9f8f8;
  --default-bg0_s: #f5f5f5;
}

/** 
  *  github (gray):
  *     rgb(246, 248, 251)
  *  drive.google (cyan):
  *     rgb(247, 249, 253)
  *     rgb(242, 246, 252)
  *     rgb(238, 242, 252)
  **/