/* --------- Nunito --------- */
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("./static/fonts/Nunito.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- Mona Sans --------- */
@font-face {
  font-family: "Mona Sans";
  src: local("Mona Sans"), url("./static/fonts/MonaSans.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

/* --------- Work Sans --------- */
@font-face {
  font-family: "Work Sans";
  src: local("Work Sans"), url("./static/fonts/WorkSans.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

/* --------- Roboto Mono --------- */
@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"), url("./static/fonts/RobotoMono.ttf") format("truetype");
  font-style: normal;
  font-weight: 200 700;
  font-stretch: 75% 125%;
}

/* --------- Source Code Pro --------- */
@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("./static/fonts/SourceCodePro.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- Courier Prime --------- */
@font-face {
  font-family: "Courier Prime";
  src: local("Courier Prime"), url("./static/fonts/CourierPrime.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- Fira Code --------- */
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code"), url("./static/fonts/FiraCode.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- Ubuntu Mono --------- */
@font-face {
  font-family: "Ubuntu Mono";
  src: local("Ubuntu Mono"), url("./static/fonts/UbuntuMono.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- Fuzzy Bubbles --------- */
@font-face {
  font-family: "Fuzzy Bubbles";
  src: local("Fuzzy Bubbles"), url("./static/fonts/FuzzyBubbles.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- VT323  --------- */
@font-face {
  font-family: "VT323";
  src: local("VT323"), url("./static/fonts/VT323.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- Syne Mono --------- */
@font-face {
  font-family: "Syne Mono";
  src: local("Syne Mono"), url("./static/fonts/SyneMono.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- Rampart One --------- */
@font-face {
  font-family: "Rampart One";
  src: local("Rampart One"), url("./static/fonts/RampartOne.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- Rubik Vinyl --------- */
@font-face {
  font-family: "Rubik Vinyl";
  src: local("Rubik Vinyl"), url("./static/fonts/RubikVinyl.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- Diploma (GTA San Andreas) --------- */
@font-face {
  font-family: "Diploma";
  src: local("Diploma"), url("./static/fonts/Diploma.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

/* --------- Tsukimi Rounded --------- */
@font-face {
  font-family: "Tsukimi Rounded";
  src: local("Tsukimi Rounded"), url("./static/fonts/TsukimiRounded.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ---------- colorscheme's color palettes ---------- */
:root {
  --youtube-bg0_h: #181818;
  --youtube-bg0: #212121;
  --youtube-bg0_s: #3d3d3d;
  --youtube-white: #ffffff;
  --youtube-gray: #aaaaaa;
  
  --gruvbox-bg0_h:      #1d2021;
  --gruvbox-bg0:        #282828;
  --gruvbox-bg0_s:      #32302f;
  --gruvbox-bg1:        #3c3836;
  --gruvbox-bg2:        #504945;
  --gruvbox-bg3:        #665c54;
  --gruvbox-bg4:        #7c6f64;
  --gruvbox-fg4:        #a89984;
  --gruvbox-fg3:        #bdae93;
  --gruvbox-fg2:        #d5c4a1;
  --gruvbox-fg1:        #ebdbb2;
  --gruvbox-fg0_s:      #f2e5bc;
  --gruvbox-fg0:        #fbf1c7;
  --gruvbox-fg0_h:      #f9f5d7;
  --gruvbox-gray:       #928374;
  --gruvbox-red:        #fb4934;
  --gruvbox-red-dim:    #cc241d;
  --gruvbox-green:      #b8bb26;
  --gruvbox-green-dim:  #98971a;
  --gruvbox-yellow:     #fabd2f;
  --gruvbox-yellow-dim: #d79921;
  --gruvbox-blue:       #83a598;
  --gruvbox-blue-dim:   #458588;
  --gruvbox-purple:     #d3869b;
  --gruvbox-purple-dim: #b16286;
  --gruvbox-aqua:       #8ec07c;
  --gruvbox-aqua-dim:   #689d6a;
  --gruvbox-orange:     #fe8019;
  --gruvbox-orange-dim: #d65d0e;

  --molokai-bg0:     #272822;
  --molokai-bg1:     #3e3d32;
  --molokai-bg2:     #75715e;
  --molokai-fg0:     #f8f8f2;
  --molokai-fg1:     #cfcfc2;
  --molokai-yellow:  #e6db74;
  --molokai-orange:  #fd971f;
  --molokai-red:     #f92672;
  --molokai-magenta: #fd5ff0;
  --molokai-violet:  #ae81ff;
  --molokai-blue:    #66d9ef;
  --molokai-cyan:    #a1efe4;
  --molokai-green:   #a6e22e;

  --cobalt-blue:            #193549;
  --cobalt-blue-highlight:  #1F4662;
  --cobalt-blue-highlight2: #234E6D;
  --cobalt-dark-blue:       #122738;
  --cobalt-yellow:          #ffc600;
  --cobalt-hot-pink:        #ff0088;
  --cobalt-blush-pink:      #ff628c;
  --cobalt-orange:          #ff9d00;

  --solarized-base03:    #002b36;
  --solarized-base02:    #073642;
  --solarized-base01:    #586e75;
  --solarized-base00:    #657b83;
  --solarized-base0:     #839496;
  --solarized-base1:     #93a1a1;
  --solarized-base2:     #eee8d5;
  --solarized-base3:     #fdf6e3;
  --solarized-yellow:    #b58900;
  --solarized-orange:    #cb4b16;
  --solarized-red:       #dc322f;
  --solarized-magenta:   #d33682;
  --solarized-violet:    #6c71c4;
  --solarized-blue:      #268bd2;
  --solarized-cyan:      #2aa198;
  --solarized-green:     #859900;

  --default-bg0_h: #ffffff;
  --default-bg0: #f9f8f8;
  --default-bg0_s: #f5f5f5;
}

:root {
  --Nunito: "Nunito", monospace;
  --MonaSans: "Mona Sans", monospace;
  --WorkSans: "Work Sans", monospace;
  --RobotoMono: "Roboto Mono", monospace;
  --CourierPrime: "Courier Prime", monospace;
  --FiraCode: "Fira Code", monospace;
  --SourceCodePro: "Source Code Pro", monospace;
  --UbuntuMono: "Ubuntu Mono", monospace;
  --SyneMono: "Syne Mono", monospace;
  --VT323: "VT323", monospace;
  --FuzzyBubbles: "Fuzzy Bubbles", monospace;
  --TsukimiRounded: "Tsukimi Rounded", monospace;
  --RampartOne: "Rampart One", monospace;
  --RubikVinyl: "Rubik Vinyl", monospace;
  --GTASanAndreas: "Diploma", monospace;

  --text-size: 20px;
  /* --text-font: var(--RobotoMono); */
  --text-font: var(--WorkSans);
  --text-thickness: 450;
  --text-primary-color: #1d2021;
  --text-secondary-color: #8d8989;
  --text-underline-offset: 1px;
  --text-underline-thickness: 2px;
  --text-error: red; /* normal letter error color */
  --text-error-extra: #a30d0d; /* extra inserted letter error color */
  --text-whitespace-color: #b3b3b3; /* dot/bar whitespace color */
  --text-whitespace-color-active: #303030; /* dot/bar whitespace color when active */

  --caret-color: black;
  --caret-color-hidden: var(--default-bg0_h);
  --caret-offset-box: -1px; /* box caret offset */
  --caret-width-box: 1px; /* box caret width */
  --caret-width-line: -1px; /* line caret width */
  --caret-width-underline: 2px; /* underline caret width */
  --caret-block-color: whitesmoke; /* text color under block caret */
  --caret-block-backgroundcolor: black; /* block caret of color */
  --caret-animation-delay: 2s; /* time to wait before blinking */
  --caret-animation-duration: 1.17s; /* duration of a single blink */
  --caret-animation-iteration-count: 25; /* number of blinks */
  --caret-animation-timing-function: ease-out; /* blink rhythm */

  --setting-caret-color: black;
  --setting-caret-width: 10px;
  --setting-caret-height: 18px;
  --setting-caret-border-color: hsla(212, 14%, 19%, 0.08);
  --setting-button-border-color: rgba(31, 35, 40, 0.15);
  --setting-button-height: 30px;
  --setting-background-color: #f6f8fa;

  --solid: 1px solid black;
  --dashed: 1px dashed black;
  --dotted: 1px dotted black;
  
  --active-foreground: green;
  --active-background: rgb(176, 255, 176);
  --inactive-foreground: #484848;
  --inactive-background: #f3f3f3;
}

body {
  /* removes blue background hightlighting on mobile browser when clicked on board cells */
  -webkit-tap-highlight-color: transparent;
  
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;

  background-color: var(--default-bg0_h);
}

#selected {
	color: #0969da;
	background-color: #f6f8fa;
}

.none {
  display: none;
}
.hidden {
  visibility: hidden;
}

/* used to highlight active word in word highlight mode */
.active {
  color: black;
}

/* used for correctly typed letters */
.correct {
  color: var(--text-secondary-color);
}

/* used for incorrectly typed letters */
.incorrect {
  color: var(--text-error);
}

/* used for extra letters which are inserted in the text */
.extra {
  color: var(--text-error-extra);
}

/* used to mark the word as incorrect i.e, word with mistakes */
.error {
  color: var(--error);
  text-decoration-color: var(--text-error-extra);
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-underline-offset: var(--text-underline-offset);
  text-decoration-thickness: var(--text-underline-thickness);
  text-decoration-skip-ink: all;
}

/* used to underline active word in word and letter highlight mode */
.__ {
  text-decoration-color: var(--text-primary-color);
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-underline-offset: var(--text-underline-offset);
  text-decoration-thickness: var(--text-underline-thickness);

  /* all - the browser must interrupt underlines and overlines so that they do not
           touch or closely approach a glyph
    none - drawn across the full length of the text content, including parts that
           cross over glyph descenders and ascenders */
  text-decoration-skip-ink: all;
}

button {
  border: none;
  outline: none;
  background-color: var(--setting-background-color);
}