/* line caret */
.caret {
  border-left: var(--caret__width) solid var(--caret__color);
  border-top: none;
  border-bottom: none;
  border-right: none;

  /* animation-name: cursorBlinkAnimation; */
  animation-duration: var(--caret__blinkTime);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes cursorBlinkAnimation {
  0%,
  100% {
    border-left: var(--caret__width) solid var(--caret__color);
    border-top: none;
    border-bottom: none;
    border-right: none;
  }

  50% {
    border-left: var(--caret__width) solid
      var(--wordsContainer_and_hidden-borderLeft__bg);
  }
}
