:root {
  --wordsContainer_and_hidden-borderLeft__bg: lightgray;
  --caret__color: black;
  --caret__blinkTime: 1.5s;
  --caret__width: 2px;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

div.typingTest {
  width: 100%;
}

.active {
  color: rgb(0, 0, 184);
}

.incorrect {
  color: red;
}

input#wordsInput {
  border: none;
  outline: none;
  color: white;
  background-color: white;
}

div.words {
  background-color: var(--wordsContainer_and_hidden-borderLeft__bg);

  display: flex; /* fixes the extra space between letters */
  justify-content: flex-start;
  flex-wrap: wrap;

  padding: 10px;
}

word {
  display: flex; /* fixes the extra space between letters */
  justify-content: flex-start;
}

letter {
  font-size: 1.3rem;

  /* prevents change in letter width when caret moves along letters while typing */
  border-left: var(--caret__width) solid
    var(--wordsContainer_and_hidden-borderLeft__bg);
  border-top: none;
  border-bottom: none;
  border-right: none;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
