*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --wordsWrapper-hidden-borderLeft__backgroundColor: rgb(229, 255, 255);
  --cursor__color: black;
  --line-cursor__width: 2px;
  --underline-cursor__width: 1px;
}

html,
body {
  height: 100%;
  width: 100%;
}

div.typingTest {
  width: 100%;
}

.active {
  color: darkorchid;
}

.incorrect {
  color: red;
}

input#wordsInput {
  border: none;
  outline: none;
  color: white;
  background-color: white;
}

div.words_container {
  background-color: var(--wordsWrapper-hidden-borderLeft__backgroundColor);

  display: flex; /* fixes the extra space between letters */
  justify-content: flex-start;
  flex-wrap: wrap;

  padding: 10px;
}

span.word {
  display: flex; /* fixes the extra space between letters */
  justify-content: flex-start;
}

letter {
  font-size: 1.6rem;

  /* prevents change in letter width when caret moves along letters while typing */
  border-left: var(--line-cursor__width) solid
    var(--wordsWrapper-hidden-borderLeft__backgroundColor);
  border-top: none;
  border-bottom: none;
  border-right: none;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caret {
  /* block
        color: white;
        background-color: black;
  */

  /* underline
        border-bottom: 2px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
  */

  /* line cursor */
  border-left: var(--line-cursor__width) solid var(--cursor__color);
  border-top: none;
  border-bottom: none;
  border-right: none;

  animation-name: cursorBlinkAnimation;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes cursorBlinkAnimation {
  0%,
  100% {
    border-left: var(--line-cursor__width) solid var(--cursor__color);
    border-top: none;
    border-bottom: none;
    border-right: none;
  }

  50% {
    border-left: var(--line-cursor__width) solid
      var(--wordsWrapper-hidden-borderLeft__backgroundColor);
  }
}
