html,
body {
  height: 100%;
  width: 100%;
}

div.typingTest {
  margin-top: 100px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.wordsWrapper {
  border: 1px dashed red;

  width: 1000px;
  height: 500px;
}

div.words {
  width: 800px;
  border: 1px solid gray;
  padding: 10px;
}

.active {
  color: green;
}

.incorrect {
  color: red;
}

input#wordsInput {
  border: none;
  outline: none;
  color: white;
  background-color: white;
}

letter {
  font-size: 2rem;

  /* prevents change in letter width when caret moves along letters */
  border-left: 1px solid white;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 📌 later divide caret into block, line, underline as individual css property */
.caret {
  /* block cursor */
  /*
  color: white;
  background-color: black;
  */

  /* line cursor */
  background-color: white;
  border-left: 1px solid black; /* you have an option to select thickness of the caret */
  border-top: none;
  border-bottom: none;
  border-right: none;

  /* underline cursor */
  /* 
  background-color: white;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  */
}
