.offtype {
  border: none; /* turnoff caret */
}

/*----------------- line -----------------*/
#line {
  border-left-color: var(--caret-color);
  animation-name: animate-line;
}
.linetype {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: var(--line-caret-width) solid var(--caret-color-hidden);
  
  animation-delay: var(--caret-blink-delay);
  animation-duration: var(--caret-blink-duration);
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes animate-line {
  0%,
  50% {
    border-left-color: var(--caret-color);
  }
  51%,
  100% {
    border-left-color: var(--caret-color-hidden);
  }
}

/*----------------- underline -----------------*/
#underline {
  border-bottom-color: var(--caret-color);
  animation-name: animate-unerline;
}
.underlinetype {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: var(--underline-caret-width) solid var(--caret-color-hidden);

  animation-delay: var(--caret-blink-delay);
  animation-duration: var(--caret-blink-duration);
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes animate-unerline {
  0%,
  50% {
    border-bottom-color: var(--caret-color);
  }
  51%,
  100% {
    border-bottom-color: var(--caret-color-hidden);
  }
}

/*----------------- block -----------------*/
#block {
  color: #ffffff;
  background-color: #000000;
  animation-name: animate-block;
}
.blocktype {
  border: none;

  animation-delay: var(--caret-blink-delay);
  animation-duration: var(--caret-blink-duration);
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes animate-block {
  0%,
  50% {
    color: #ffffff;
    background-color: #000000;
  }
  51%,
  100% {
    color: #000000;
    background-color: var(--caret-color-hidden);
  }
}

/*----------------- box -----------------*/
#box {
  border-color: var(--caret-color);
  animation-name: animate-box;
}
.boxtype {
  border: var(--box-caret-width) solid var(--caret-color-hidden);

  animation-delay: var(--caret-blink-delay);
  animation-duration: var(--caret-blink-duration);
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes animate-box {
  0%,
  50% {
    border-color: var(--caret-color);
  }
  51%,
  100% {
    border-color: var(--caret-color-hidden);
  }
}


/*--------------- select caret settings ---------------*/
carettype {  
  width: 180px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
caret {
  width: 25px;
  height: 35px;

  border: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: var(--setting-box-radius);
  background-color: var(--bgcolor-settingboxes);
}

caret.line {
  background-color: var(--bgcolor-active);
}

caret.off shape,
caret.box shape,
caret.line shape,
caret.block shape,
caret.underline shape {
  height: 20px;
}
caret.line shape {
  width: 1px;
  background-color: var(--settings-caret-color);
}
caret.block shape {
  width: 10px;
  background-color: var(--settings-caret-color);
}
caret.underline shape {
  width: 12px;
  display: block;
  border-bottom: 1px solid var(--settings-caret-color);
}
caret.box shape {
  width: 10px;
  border: 1px solid var(--settings-caret-color);
}

caret.off shape {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
caret.off shape i {
  color: #6b6b6b;
  font-size: 1.22rem;
  transform: translateY(1px);
  transform: translateX(0.5px);
}