:root {
  --letter-border-left__color: white;
  --thin-caret: 1px;
  --thick-caret: 2px;
  --caret__color: brown;
  --caret__width: var(--thick-caret);
  --caret__blink-time: 1.5s;

  --active-word__color: black;
  --incorrect-word__color: rgb(255, 61, 61);

  --input__color: white;
  --inputtag__color: var(--input__color);
  --inputtag__background-color: var(--input__color);

  --letter__font-size: 1.3rem;
  --letter__color: rgb(128, 127, 127);

  --letter__font-weight__300: 300;
  --letter__font-weight__400: 400;
  --letter__font-weight__500: 500;

  --letter__font-family__robotoMono: "Roboto Mono", sans-serif;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.active {
  color: var(--active-word__color);
}

.incorrect {
  color: var(--incorrect-word__color);
}

input#wordsInput {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 1em;
  height: 1em;
  border: none;
  outline: none;

  color: var(--inputtag__color);
  background-color: var(--inputtag__background-color);
}

div.words {
  background-color: var(--letter-border-left__color);

  /* Keeps the words in a single lines. */
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: 2px;

  border: 1px dashed black;
}

word {
  color: var(--letter__color);

  /* Fixes the extra space between letters. */
  display: flex;
  justify-content: flex-start;
}

letter {
  padding: 0px;
  margin: 0px;

  /* prevents change in letter width when caret moves along letters while typing */
  border-left: var(--caret__width) solid var(--letter-border-left__color);
  border-right: none;
  border-top: none;
  border-bottom: none;

  font-size: var(--letter__font-size);
  font-weight: var(--letter__font-weight__400);
  font-family: var(--letter__font-family__robotoMono);
}
