:root {
  --letter-border-left__color: white;
  --thin-caret: 1px;
  --thick-caret: 2px;
  --caret__color: brown;
  --caret__width: var(--thin-caret);
  --caret__blink-time: 1.5s;

  --incorrect-word__color: red;
  --incorrect-letter__color: hsl(0, 100%, 35%);

  --input__color: white;
  --inputtag__color: var(--input__color);
  --inputtag__background-color: var(--input__color);

  --active-word__color: black;
  --letter__color: rgb(187, 187, 187);
  --letter__font-size: 1.3rem;

  --letter__font-weight__300: 300;
  --letter__font-weight__400: 400;
  --letter__font-weight__500: 500;

  --letter__font-family__robotoMono: "Roboto Mono", sans-serif;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.stats {
  margin-top: 20px;
  background-color: lightcyan;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 50px;
  font-family: monospace;
  font-size: 1.4rem;
}
.stats .label {
  color: blue;
}
.stats .speed {
  color: deeppink;
}

.typist {
  margin-top: 20px;
}

.active {
  color: var(--active-word__color);
}

.incorrect {
  color: var(--incorrect-word__color);
}

.error {
  color: var(--incorrect-letter__color);
}

input#wordsInput {
  display: block;

  margin: 0px;
  padding: 0px;

  width: 1px;
  height: 1px;

  border: none;
  outline: none;

  color: var(--inputtag__color);
  background-color: var(--inputtag__background-color);
}

div.words {
  background-color: var(--letter-border-left__color);

  /* Keeps the words in a single lines. */
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: 2px;

  padding: 5px;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
}

word {
  color: var(--letter__color);

  /* Fixes the extra space between letters. */
  display: flex;
  justify-content: flex-start;
}

letter {
  padding: 0px;
  margin: 0px;

  /* prevents change in letter width when caret moves along letters while typing */
  border-left: var(--caret__width) solid var(--letter-border-left__color);
  border-right: none;
  border-top: none;
  border-bottom: none;

  font-size: var(--letter__font-size);
  font-weight: var(--letter__font-weight__400);
  font-family: var(--letter__font-family__robotoMono);
}
