:root {
  --line-gap: 4px;

  --word__color: #000000;
  --letter__color: #959595;
  --letter__fontSize: 1.3rem;

  --inuse__color: #ffdc9f;

  --letter__fontWeight300: 300;
  --letter__fontWeight400: 400;
  --letter__fontWeight500: 500;

  --letter__fontFamilyRobotoMono: "Roboto Mono", sans-serif;

  --caret__color: #000000;
  --letter__borderLeftColor: white;

  --caret__blinkdelay: 2s;
  --caret__blinkduration: 1.15s;
  --caret__underlinecaretwidth: 1px;

  --textinput__color: var(--letter__borderLeftColor);
  --textinput__backgroundColor: var(--letter__borderLeftColor);

  --settings-caret__color: #000000;
  --settings-caret__bg: #f5f5f5;
  --settings-caret__bg-active: var(--inuse__color);
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin-top: 30px;

  display: flex;
  row-gap: 10px;
  align-items: center;
  flex-direction: column;
}

.active {
  color: var(--word__color);
}
.error {
  color: red;
}

.engine {
  max-width: 800px;
}

.engine #inputbox {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 1px;
  height: 1px;
  border: none;
  outline: none;
  caret-color: transparent;
  color: var(--textinput__color);
  background-color: var(--textinput__backgroundColor);
}

.engine #sentence {
  /* these keep the words in a single line */
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--line-gap);
  align-content: flex-start;
  justify-content: flex-start;

  background-color: var(--letter__borderLeftColor);
}

word {
  color: var(--letter__color);
  background-color: var(--letter__borderLeftColor);

  /* these fixes the extra spaces between the letters of the words */
  display: flex;
  justify-content: flex-start;
}

letter {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--letter__fontSize);
  font-weight: var(--letter__fontWeight400);
  font-family: var(--letter__fontFamilyRobotoMono);
}

.speed {
  color: lightgray;
  font-size: var(--letter__fontSize);
  font-weight: var(--letter__fontWeight300);
  font-family: var(--letter__fontFamilyRobotoMono);
}
.restart {
  width: 30px;
  height: 30px;

  border: none;
  outline: none;

  font-size: 1.15rem;
  border-radius: 3px;
  background-color: white;

  display: grid;
  place-items: center;
}
.restart i {
  color: #6b6b6b;
  transform: translateY(1px);
}

.wordseparator_dot {
  padding: 0px 5px;
  font-weight: bolder;
  color: #a4a4a4;
  font-size: var(--letter__fontSize);
  font-family: var(--letter__fontFamilyRobotoMono);
}

.ws {
  width: 140px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-family: var(--letter__fontFamilyRobotoMono);
}

.ws .ws_dot,
.ws .ws_space {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: 400;
  color: #313131;

  border-radius: 3px;
  padding: 3px 6px;
}
.ws .ws_dot,
.ws .ws_space {
  background-color: #f5f5f5;
}
#ws_active {
  color: black;
  font-weight: 500;
  background-color: var(--inuse__color);
}