*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin-top: 30px;

  display: flex;
  row-gap: 10px;
  align-items: center;
  flex-direction: column;
}

:root {
  --line-gap: 4px;

  --word__color: #000000;
  --letter__color: #a7a7a7ba;
  --letter__fontSize: 1.2rem;

  --letter__borderLeftColor: white;

  --letter__fontWeight300: 300;
  --letter__fontWeight400: 400;

  --letter__fontFamilyRobotoMono: "Roboto Mono", sans-serif;

  --textinput__color: var(--letter__borderLeftColor);
  --textinput__backgroundColor: var(--letter__borderLeftColor);
}

.active {
  color: var(--word__color);
}
.error {
  color: red;
}

.ttypist {
  max-width: 800px;
  margin-left: 30px;
}

.ttypist #inputbox {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 1px;
  height: 1px;
  border: none;
  outline: none;
  caret-color: transparent;
  color: var(--textinput__color);
  background-color: var(--textinput__backgroundColor);
}

.ttypist #sentence {
  /* these keep the words in a single line */
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--line-gap);
  align-content: flex-start;
  justify-content: flex-start;

  background-color: var(--letter__borderLeftColor);
}

word {
  color: var(--letter__color);
  background-color: var(--letter__borderLeftColor);

  /* these fixes the extra spaces between the letters of the words */
  display: flex;
  justify-content: flex-start;
}

letter {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--letter__fontSize);
  font-weight: var(--letter__fontWeight400);
  font-family: var(--letter__fontFamilyRobotoMono);
}
