#settings #caret {
  width: 300px;
  height: 35px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--letter__fontFamilyFiraCode);
}

#caret div.name,
#caret div.symbols {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#caret div.name {
  flex-basis: 20%;
  height: 100%;
  font-size: 1.4rem;
  color: darkred;
  font-family: "Roboto Mono", sans-serif;
}
#caret div.symbols {
  height: 100%;
  flex-basis: 75%;
}

#caret div.symbols span.outer {
  width: 25px;
  height: 100%;
  border-radius: 5px;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
}
#caret div.symbols span.outer {
  width: 35px;
}

span.outer span.inner#line,
span.outer span.inner#box,
div.symbols span.inner#block,
span.outer span.inner#underline {
  height: 20px;
}
span.outer span.inner#line {
  width: 2px;
  background-color: black;
}
span.outer span.inner#underline {
  width: 13px;
  border-bottom: 2px solid black;
}
span.outer span.inner#box {
  width: 11px;
  border: 2px solid black;
}
div.symbols span.inner#block {
  width: 10px;
  background-color: black;
}
