:root {
  --settings-caret__color: #000000;
  --settings-caret__bg: #f9f9f9;
  --settings-caret__bg-active: #ffdc9f;

  --settings-offtypeIcon__color: #6b6b6b;
}

.speed {
  color: lightgray;
  font-size: var(--letter__fontSize);
  font-weight: var(--letter__fontWeight300);
  font-family: var(--letter__fontFamilyRobotoMono);
}
.restart {
  width: 30px;
  height: 30px;

  border: none;
  outline: none;

  font-size: 1.15rem;
  border-radius: 3px;
  background-color: white;

  display: grid;
  place-items: center;
}
.restart i {
  color: #6b6b6b;
  transform: translateY(2px);
}

.carettypes {
  width: 180px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caret {
  width: 25px;
  height: 35px;

  border: none;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--settings-caret__bg);
}

.caret.linetype {
  background-color: var(--settings-caret__bg-active);
}

.caret #off-icon,
.caret #box-icon,
.caret #line-icon,
.caret #block-icon,
.caret #underline-icon {
  height: 20px;
}
.caret #line-icon {
  width: 1px;
  background-color: var(--settings-caret__color);
}
.caret #block-icon {
  width: 10px;
  background-color: var(--settings-caret__color);
}
.caret #underline-icon {
  width: 12px;
  display: block;
  border-bottom: 1px solid var(--settings-caret__color);
}
.caret #box-icon {
  width: 10px;
  border: 1px solid var(--settings-caret__color);
}

.caret icon#off-icon {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.caret #off-icon i {
  font-size: 1.3rem;
  transform: translateY(2px);
  color: var(--settings-offtypeIcon__color);
}