#settings #caret {
  width: 300px;
  height: 35px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--letter__fontFamilyFiraCode);
}

#caret div.name,
#caret div.caretsymbols-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#caret div.name {
  flex-basis: 20%;
  height: 100%;
  font-size: 1.4rem;
  color: blueviolet;
  font-family: "Roboto Mono", sans-serif;
}
#caret div.caretsymbols-container {
  height: 100%;
  flex-basis: 75%;
}

#caret div.caretsymbols-container span.outer {
  width: 35px;
  height: 100%;
  border-radius: 5px;
  display: grid;
  place-items: center;
  background-color: hsla(0, 0%, 97%, 0.75);
}
#caret div.caretsymbols-container span.outer.off {
  font-size: 1.25rem;
  width: 45px;
}
#caret div.caretsymbols-container span.outer:hover {
  background-color: rgb(194, 255, 194);
}

span.outer span.inner#line,
span.outer span.inner#box,
div.caretsymbols-container span.inner#block,
span.outer span.inner#underline {
  height: 20px;
}
span.outer span.inner#line {
  width: 2px;
  background-color: black;
}
span.outer span.inner#underline {
  width: 13px;
  border-bottom: 2px solid black;
}
span.outer span.inner#box {
  width: 11px;
  border: 2px solid black;
}
div.caretsymbols-container span.inner#block {
  width: 10px;
  background-color: black;
}
